

img {
    width: 500px; 
    margin-left: 14%;
     
}
h5 {
    margin: 0%;
    margin-left: 17%;
    margin-top: 1%;
    font-weight: 900;  
   
   
}

.content-wrapper4 {
    color: black ; 
    width: 450px;
    margin: 0%;
    margin-left: 17%;
}

h3 {

    margin:0%;
    font-size: .80rem;
    color: #8392a1;
    margin-left: 18%;
 

}

.card-wrapper {
    padding: 5%;
    width: 45%;
    height: 450px;
    margin-left: 12%;
    margin-top: 7%;
    border: 3px solid gray;
    box-shadow:  5px 10px red;
    cursor: pointer;
    text-decoration: none;
   
}
