

.logo {
    border-radius: 45%;
    width: 50px; 
    margin-top: 15%;
}

h1 {
    color: black; 
    margin: 0%;
    font-size: 1rem;
    margin-left: 5%;
    margin-top: 6%;
  
}


p {
    font-size: .80rem;
    color: #8392a1; 
}

.date {
  width: 200px;  
  margin-left: 4%;
  margin-top: 17.5%;
  padding: 0% 0% 0% 0%;
 
}

.content-wrapper3 {
    color: black ; 
    width: 70%;
    padding: 0% 8% 0% 8%;
    margin-left: 6%;
    margin-top: 0%;
   

}


.logo-wrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 0%;
  
}
